@import "reset.scss";
@import "header.scss";
@import "projects.scss";

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section__title {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
}
